TODO
tags
build
build.cmake
libscc.*
*.pyc
.config
crash-*
slow-unit-*
scc/config.h

submodules/*.stamp

test/fuzz/corpora/btmap/*
test/fuzz/corpora/btree/*
test/fuzz/corpora/hashmap/*
test/fuzz/corpora/hashtab/*
test/fuzz/corpora/lower_bound/*
test/fuzz/corpora/rbmap/*
test/fuzz/corpora/rbtree/*
test/fuzz/corpora/svec/*

!test/fuzz/corpora/btmap/corpus_*
!test/fuzz/corpora/btree/corpus_*
!test/fuzz/corpora/hashmap/corpus_*
!test/fuzz/corpora/hashtab/corpus_*
!test/fuzz/corpora/lower_bound/corpus_*
!test/fuzz/corpora/rbmap/corpus_*
!test/fuzz/corpora/rbtree/corpus_*
!test/fuzz/corpora/svec/corpus_*
