[submodule "unity"]
	path = submodules/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	ignore = dirty
[submodule "benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark
	ignore = dirty
[submodule "conftool"]
	path = submodules/conftool
	url = https://gitlab.com/vengaer/conftool.git
	ignore = dirty
[submodule "submodules/pycparser"]
	path = submodules/pycparser
	url = https://github.com/eliben/pycparser.git
[submodule "submodules/mull"]
	path = submodules/mull
	url = https://github.com/mull-project/mull
	ignore = dirty
