[submodule "unity"]
	path = submodules/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	ignore = dirty
[submodule "benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark
	ignore = dirty
[submodule "conftool"]
	path = submodules/conftool
	url = https://gitlab.com/vengaer/conftool
	ignore = dirty
